body{
    height: 100vh;
    max-width: 100vw;
}

.Game {

margin-left: 1.5rem;

}

.CheckGame {

position: relative;
left: -9.8rem;
top: -5.9rem;

}

.head {

margin-left: 0px;
margin-right: 0px;
margin: 0px;

}

.test_class{
    width:0px;
}

.floor {

height: 20%;
width: 100%;
border-top: black solid 3px;
background-color: grey;

}

.Timer_Start {

position: relative;
color: lime;
background-color: darkblue;
border-radius: 10px;
text-align: center;
width: 12%;
bottom: -60px;
margin-left: 1000px;

}

#ClearButton {

position: relative;
left: 1000px;
visibility: hidden;

}

.easy {

color: green;
font-weight: 1000;

}

.medium {

color: orange;
font-weight: 1000;

}

.hard {

color: red;
font-weight: 1000;

}

.LevelSet {

visibility: hidden;
margin-left: 1.5rem;    
margin-top: 15px;
width: 123px;
height: 19px;

}

table {

border-spacing: 0px;

}

.little-col {

border: 3px solid black;
border-right: none;
border-bottom: none;
width: 3rem;
height: 3rem;
text-align: center;
font-size: x-large;
font-weight: 600;

}

.right {

border-right: 3px solid black;

}

.bottom {

border-bottom: 3px solid black;

}

.Tabl {
    visibility: hidden;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.SetNumber {

position: relative;
margin-left: 60rem;
width: 123px;
height: 19px;
visibility: hidden;

}

.SayOk {

visibility: hidden;
margin-left: 74rem;
margin-top: 1%;

}

.End {

margin-left: 1rem;
margin-top: 1%;
visibility: hidden;

}

.Save {

position: relative;
visibility: hidden;
top: -1.5rem;
margin-left: 1.5rem;

}